td.right p{
text-align:center;
}
p{
text-align:justify;
}
.graybox{
font-family:tahoma,arial;
font-size:11px;
font-weight:normal;
text-decoration:none;
border:1px solid #CAD3DA;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:10px;
background-color:#ffffff;
border-top:0px;
}
.blackhead{
font-family:arial;
font-size:11px;
font-weight:bold;
text-decoration:none;
}
.more{
font-family:tahoma,arial;
font-size:10px;
font-weight:bold;
text-decoration:underline;
}
h1.manpages
{
font-family: Calibri;
font-size:15;
}
body
{
font-family: Helvetica, Arial, Sans-Serif;
vertical-align: baseline;
font-size: 70%;
color:#000000;
background-color:#f1f1f1;
margin:0px;
//background:url('/images/side_bkgnd.png') repeat-x #FFFFFF;
}
table.main{
width:960px;
//background:url('/images/middle_bkgnd.jpg') no-repeat top center;
}
table.mainoffice{
width:960px;
//background:url('/images/middle_bkgnd.jpg') no-repeat top center;
}
table.middle
{
color:#000000;
background-color:#ffffff;
border:1px solid #aaa;
width:570px;
}
table.middleoffice
{
color:#000000;
background-color:#ffffff;
border:1px solid #aaa;
width:570px;
}

th
{
background-color:#cdcdcd;
}
table.pmp{
border:1px solid #aaa;
width:100%;
background-color:#f1f1f1;
border-collapse:collapse;
}
td.pmp{
text-align:center;
border:1px solid #aaa;
border-top:0px;
background-color:#eee;
}
td{
text-align:left;
vertical-align:top;
margin-bottom:0px;
}
table.src td {
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.src th{
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.ex td{
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.ex th{
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.pmp td{
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.pmp th{
   border-collapse:collapse;
   border:1px solid #aaa;
}
table.src{
border:1px solid #aaa;
width:100%;
background-color:#f1f1f1;
border-collapse:collapse;
padding-left:5px;
vertical-align:top;
}
table.ex{
border:1px solid #aaa;
width:100%;
background-color:#f1f1f1;
border-collapse:collapse;
padding-left:5px;
}
ul.menu{
	line-height: 1.3em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
/*	list-style-image: url(bullet.gif);*/
}
div.left{
	font-size: 95%;
	border-collapse: collapse;
	border: 0px solid #aaa;
	border-top: 1px solid black;
        margin-top:5px;
	padding: 0 .8em .3em .5em;
	width:16.5em;
}
div.search{
        font-size: 95%;
        border-collapse: collapse;
        border: 1px solid #aaa;
        padding: 0 .8em .3em .5em;
        width:16.5em;
}
div.leftpmp{
	font-size: 95%;
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 0 .8em .3em .5em;
	width:23.8em;
}

body, p, table, td, th, ul, ol, textarea, input
{
font-family: verdana,helvetica,arial,sans-serif;
/*font: 12px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;*/
}
h1
{
font: 15px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
margin-bottom:0px;
}
h2
{
font: 9px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
margin-bottom:0px;
font-weight:bold;
}

table, input, textarea
{
font-size: 100%;
}

td.top
{
height:1.9em;
border:1px solid #aaa; 
border-bottom:0px;
vertical-align:middle;
}

div {width:100%;}

h1 {font-size:160%;}
h2 {font-size:145%;margin-top:10px;margin-bottom:10px;}
h3 {font-size:110%;}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h2.home
{
margin-top:0px;
margin-bottom:5px;
font-size:120%;
padding-top:1px;
padding-bottom:1px;
padding-left:1px;
color:black;
background-color:#ffffff;
}
p.alignment{
text-align:justify;
}
td.right
{
text-align:center;
}
h2.right
{
text-align:center;
font-size:100%;
margin-top:0px;
margin-bottom:0px;
padding-top:0px;
padding-bottom:2px;
padding-left:0px;
color:#ffffff;
background-color:#808080;
}

table.right
{
//color:#000000;
//background-color:#ffffff;
border:1px solid #aaa;
padding:5px;
width:175px;
}
table.adv
{
color:#000000;
background-color:#ffffff;
border:1px solid #aaa;
padding:5px;
width:175px;
}
th.right
{
color:#ffffff;
background-color:#000000;
padding-bottom:2px;
}
th.right a
{
color:#ffffff;
background-color:#000000;
padding-bottom:2px;
text-decoration:none;
}
th.exercise
{
font-size:150%;
background-color:#808080;
padding-bottom:2px;
}
td.line
{
font-size:100%;
background-color:#f1f1f1;
padding-bottom:0px;
}

th.left
{
text-align:center;
}
span.codeKeyword
{
color:blue;
}

td.right
{
color:#000000;
text-align:center;
padding-top:3px;
padding-bottom:6px;
}
td.main
{
color:#000000;
text-align:left;
padding-top:3px;
padding-bottom:6px;
/*...*/
font-family:tahoma,arial;
font-size:11px;
font-weight:normal;
text-decoration:none;
}

td.left
{
color:#000000;
padding-top:3px;
padding-bottom:6px;
}

pre
{
font-family:"Courier New",monospace;
font-size:110%;
margin-left: 0;
margin-bottom: 0;
margin-top: 0;
}

img.float
{
float:left;
}

img
{
border:0;
}
h1, h2, h3
{
background-color:transparent;
color:#000000; 
}

h1.att, h2.att, h3.att, hr.att
{
background-color:transparent;
color:#000000; 
}

hr
{
background-color:transparent;
color:#000000;
height:1px;
}
a.nounderline{text-decoration:none}

a:link    {color:#900B09; background-color:transparent}
a:visited {color:#900B09; background-color:transparent}
a:active  {color:#FF0000; background-color:transparent}
a:hover   {color:#FF0000; background-color:transparent}

a.right:link    {text-decoration:none;color:black;background-color:transparent}
a.right:visited {text-decoration:none;color:black;background-color:transparent}
a.right:hover   {text-decoration:underline;color:red;background-color:transparent}
a.right:active  {text-decoration:underline;color:red;background-color:transparent}
a.whitepaper:link    {text-decoration:none;color:blue;background-color:transparent}
a.whitepaper:visited {text-decoration:none;color:blue;background-color:transparent}
a.whitepaper:hover   {text-decoration:underline;color:red;background-color:transparent}
a.whitepaper:active  {text-decoration:underline;color:red;background-color:transparent}

a.left:link    {text-decoration:none;color:black;background-color:transparent}
a.left:visited {text-decoration:none;color:black;background-color:transparent}
a.left:hover   {text-decoration:underline;color:red;background-color:transparent}
a.left:active  {text-decoration:underline;color:red;background-color:transparent}
a.top:link    {text-decoration:none;color:black;background-color:transparent}
a.top:visited {text-decoration:none;color:black;background-color:transparent}
a.top:hover   {text-decoration:underline;color:black;background-color:transparent}
a.top:active  {text-decoration:underline;color:black;background-color:transparent}

a.white:link    {color:#FFFFFF; background-color:transparent}
a.white:active  {color:#FF0000; background-color:transparent}
a.white:hover   {color:#000000; background-color:transparent}

a.red:link    {color:#900B09; background-color:transparent}
a.red:visited {color:#900B09; background-color:transparent}
a.red:active  {color:#FF0000; background-color:transparent}
a.red:hover   {color:#FF0000; background-color:transparent}
a.more:link    {color:#667F94;}
a.more:visited {color:#667F94;}
a.more:active  {color:#FF0000;}
a.more:hover   {color:#FF0000;}

a.blackhead:link    {color:#090101;}
a.blackhead:visited {color:#090101;}
a.blackhead:active  {color:#FF0000;}
a.blackhead:hover   {color:#FF0000;}

a.example    {font-weight:bold}
a.func    {text-decoration:none}

.verbatim {
  background: #f1f1f1;
  border-color: #ccc;
  border:1px solid;
}
pre.verbatim {
  margin-left: 10px;
  background: #f1f1f1;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #ccc;
  width: 90%;
  padding: 10px 10px 10px 10px;
}
pre.ans{
  background: #dcdcdc;
  padding: 10px 10px 10px 10px;
}
code.inline {
  background: #eeeedd;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #ccc;
  font-size:130%;
}
table.sv{
background-color:#f1f1f1;
}
.red  { color:red;} /* red */
.bold  { font-weight:bold;} /* red */
.c  { color: #228B22;} /* comment */
.cm { color: #000000;} /* comma */
.co { color: #000000;} /* colon */
.h  { color: #CD5555; font-weight:bold;} /* here-doc-target */
.hh { color: #CD5555; font-style:italic;} /* here-doc-text */
.i  { color: #00688B;} /* identifier */
.j  { color: #CD5555; font-weight:bold;} /* label */
.k  { color: #8B008B; font-weight:bold;} /* keyword */
.m  { color: #FF0000; font-weight:bold;} /* subroutine */
.n  { color: #B452CD;} /* numeric */
.p  { color: #000000;} /* paren */
.pd { color: #228B22; font-style:italic;} /* pod-text */
.pu { color: #000000;} /* punctuation */
.q  { color: #CD5555;} /* quote */
.s  { color: #000000;} /* structure */
.sc { color: #000000;} /* semicolon */
.v  { color: #B452CD;} /* v-string */
.w  { color: #000000;} /* bareword */

/* facebook, twitter and rss icons */
.subscribe_icons a{ text-decoration:none;display:block; padding:40px 0px 2px; -webkit-transition:all .2s ease-out; -moz-transition:all .2s ease-out; color:#444 !important;}
.subscribe_icons a:hover {color:red !important; text-decoration:underline; -moz-box-shadow:0px 2px 4px hsla(0,0%,0%,.35); -webkit-box-shadow:0px 2px 4px hsla(0,0%,0%,.35); }
.subscribe_twitter { background:url(images/icon-twitter.png) center top no-repeat; width:60px; text-align:center;}
.subscribe_facebook{ background:url(images/icon-facebook.png) center top no-repeat; width:60px;text-align:center; }
.subscribe_rss { background:url(images/icon-rss.png) center top no-repeat; width:70px;text-align:center;}
/* Added for dotted line and visual effect */
ul.menu {
	border-top:0px solid #bbb;
}
ul.menu li {
	margin:0;
}
ul.menu li a {
	display:block;
	padding:2px 0px;
	border-bottom:1px dotted #ccc;
}
ul.menu li a:hover {
	background:#eee;
}
ul.menu li a:active {
	background:#ccc;
}
/* office related setting */
.list1 {    
   padding:7px 9px;
   margin-right:5px;
   margin-left:0px;
   display:inline;
   font-size:12px;
   font-weight:bold;
   color:#000;
   text-align:center;
   background:url(circle.html) no-repeat;
}
.list2 {    
   padding:8px 8px;
   margin-right:5px;
   margin-left:0px;
   display:inline;
   font-size:10px;
   font-weight:bold;
   color:#000;
   text-align:center;
   background:url("circle.html") no-repeat;
} 
table.olist td{
   line-height:3em;
   list-style:none;
   font-size:13px;
}
fieldset {
	border:1px solid #bbb;
	padding:10px;
	position:relative;
	margin-bottom:10px;
	-moz-border-radius:5px;     
	border-radius: 5px;     
	-webkit-border-radius: 5px;

}
legend {
	font-size:1.1em;
	padding:.4em .8em;
	background:#fff;
	border:1px solid #bbb;
}
img.office{
   width:560px;
}
