@font-face {
  font-family: 'Neuton';
  font-style: normal;
  font-weight: 400;
  src: local('Neuton Regular'), local('Neuton-Regular'), url(http://fonts.gstatic.com/s/neuton/v8/2yfL00UA7vu40fNHPnbJgw.ttf) format('truetype');
}
