body {
margin: 0;
padding: 0;
text-align: left;
font-family:  "Times New Roman", serif;

}

#container {
}

#banner {
display: none
}

		/* TOP NAVIGATION */
#navlist {
display: none
}

		/* LEFT MENU */
.menu ul li {
display: none
}
.menu ul li a {
display: none
}
.menu ul li a:hover {
display: none
}

		/* MAIN CONTENT */
#content {
margin-left: 0px;
margin-right: 0px;
width: 90%;
}

		/* ARTICLES */
.intro {
float:left;
width: 25%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}
.intro2 {
float: left;
width: 25%;
margin: 3px 0 5px 20px;
padding: 5px;
}
.intro3 {
float:right;
width: 25%;
margin: 3px 0 5px 0;
padding: 5px;
}

.intro_double {
float:left;
width: 54%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}

#contextlinks {
    display: none;
}

		/* LEFT SIDEBAR */
#sidebar-a {
display: none
}

		/* RIGHT SIDEBAR */
#sidebar-b {
display: none
}

		/* FOOTER */
#footer {
clear: both;
padding: 5px;
margin: 0;
background-color: #476042;
color: #fff;
}
#footer a {
text-decoration: none;
color: #fff;
background-color:#476042;
}
#footer  a:hover {
text-decoration: none;
color: #FE3F22;
background-color:#476042;
}

		/* LINKS */
a {
text-decoration: none;
color: #F17C0B;
background-color: #fff;
}
a:hover {
text-decoration:underline;
color: #666;
background-color:#fff;
}
a img {
border: 0;
page-break-inside:avoid;
}

		/* IMAGE PROPERTIES */
.border {
display: none
}
.imgleft {
float: left;
border: 0px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
page-break-inside:avoid;
}
.imgright {
float: right;
border: 0px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
page-break-inside:avoid;
}

		/* HEADING PROPERTIES */
h1 {
font-size: 180%;
letter-spacing: 5px;
color:#6A9662;
background: #fff;
}
h2 {
font-size: 130%;
text-transform: uppercase;
letter-spacing: 4px;
color:#476042;
background: #fff;
}
h3 {
padding: 5px;
text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #6A9662;
}
h4 {
padding: 5px;
text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #F17C0B;
}
pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
font-family: courier new, monospace;
color: #000066;
padding: 5px;
font-size: 100%;
background: #ddffdd;
}
