body {
margin: 0;
padding: 0;
text-align: left;
font: 85% verdana, tahoma, "Trebuchet MS", arial, verdana, sans-serif;
}

#container {
width: 100%;
\width: 100%;
w\idth: 99%;
border: 0px solid #eee;
margin-left: auto;
margin-right: auto;
padding: 0;
}

#banner {
height: 70px;
padding: 0;
margin-bottom: 10px;
background: #fff url(images/image03.jpg) no-repeat;
color: #333;
}

		/* TOP NAVIGATION */
#navlist {
width: 100%;
padding: 4px 5px 5px 0;
line-height: 150%;
margin: 0 0 20px 0;
text-align: left;
letter-spacing: 0px;
color: #fff;
background: #476042;
}
#navlist li {
list-style: none;
margin: 0;
display: inline;
}
#navlist li a {
padding: 4px .75em;
margin: 0;
color: #fff;
background: #476042;
text-decoration: none;
}
#navlist li a:link { color: #fff;
background: #476042;
}
#navlist li a:visited {
color: #fff;
background: #476042;
}
#navlist li a:hover {
color: #000;
background: #6A9662;
}
#navlist li a#current {
color: #fff;
background:#6A9662;
}

		/* LEFT MENU */
.menu ul li {
line-height: 1.4em;
margin: 0 10px 0 -20px;
padding: 0;
list-style-type: square;
color: #6A9662;
background: inherit;
}
.menu ul li a {
color: #6B9662;
background: inherit;
}
.menu ul li a:hover {
color: #F17C0B;
background: inherit;
}

/* TEXT MENU */
.textmenu ul li {
margin: 0 5px 0 -25px;
padding: 0;
list-style-type: square;
background: inherit;
}
.textmenu ul li a {
color: #6B9662;
background: inherit;
}
.textmenu ul li a:hover {
color: #F17C0B;
background: inherit;
}

		/* MAIN CONTENT */
#content {
padding: 0 20px 0 20px;
margin-left: 170px;
margin-right: 170px;
border-left: 1px dashed #333;
border-right: 1px dashed #333;
color: #555;
background-color: #fff;
}

		/* ARTICLES */
.intro {
float:left;
width: 27%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}
.intro2 {
float: left;
width: 27%;
margin: 3px 0 5px 2px;
padding: 5px;
}
.intro3 {
float:right;
width: 38%;
margin: 0px 0 5px 0;
padding: 5px;
}

.intro_double {
float:left;
width: 54%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}

		/* LEFT SIDEBAR */
#sidebar-a {
float: left;
width: 150px;
\width: 160px;
w\idth: 150px;
margin-right: 5px;
padding: 0 5px 0 5px;
color: #666;
background-color: #fff;
}

		/* RIGHT SIDEBAR */
#sidebar-b {
float: right;
width: 150px;
\width: 160px;
w\idth: 150px;
margin: 0 0 0 5px;
padding: 0 5px 15px 5px;
color: #333;
background-color:#FAF8E9;
}

		/* FOOTER */
#footer {
clear: both;
padding: 5px;
margin: 0;
background-color: #476042;
color: #fff;
}
#footer a {
text-decoration: none;
color: #fff;
background-color:#476042;
}
#footer  a:hover {
text-decoration: none;
color: #FE3F22;
background-color:#476042;
}

		/* LINKS */
a {
text-decoration: none;
color: #F17C0B;
background-color: #fff;
}
a:hover {
text-decoration:underline;
color: #666;
background-color:#fff;
}
a img {
border: 0;
}

		/* IMAGE PROPERTIES */
.border {
padding: 10px;
margin: 10px;
border: 1px solid #476042;
}
.imgleft {
float: left;
border: 0px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
}
.imgright {
float: right;
border: 0px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
}

.small300 {
width: 300px;
}
.small350 {
width: 350px;
}
.small400 {
width: 400px;
}

code {
font-size: 120%;
}

.fontleft {
font-size: 110%;
}

.fontright {
font-size: 130%;
}

#contextlinks {
    color: #FFF;
    background: #A6C0A1;
}

#contextlinks a:link, 
#contextlinks a:visited, 
#contextlinks a:hover { 
 color: #FFF; 
 text-decoration: none; 
 background: #A6C0A1;
} 


		/* HEADING PROPERTIES */
h1 {
width: 30%;
font-size: 180%;
letter-spacing: 5px;
color:#6A9662;
background: #fff;
}
h2 {
font-size: 130%;
#text-transform: uppercase;
letter-spacing: 1px;
color:#476042;
background: #fff;
}
h3 {
padding: 5px;
#text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #6A9662;
}
h4 {
padding: 5px;
margin-bottom: 4px;
#text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #F17C0B;
}
mono {
font-family: courier new, monospace;
font-size: 100%;
color: #000066;
font-size: 100%;
}
new {
font-size: 100%;
color: #F17C0B;
font-size: 100%;
}
pre {
white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */
font-family: courier new, monospace;
margin: 10px;
color: #000066;
padding: 5px;
font-size: 100%;
background: #ddffdd;
}
