/* cfg  */
body {
  margin-bottom:30px; margin-top:10px;
  font-family:georgia; font-size:1em;
  line-height:1.6em;
  background: #333;
  text-align:center;
}

pre {
  font-family: monospace;  
  font-size:10pt;
/*   white-space: pre-wrap; */
  overflow: auto;
}

h1 {font-family: serif; margin:25px 0 25px 0 }

h2 { font-family: serif; margin:25px 0 25px 0 }
h4 { margin:15px 0 15px 0 }
a { color:#0099f7 }

ul {line-height: 1.7em}

.explanation { line-height:1.5; padding: 5px 0 5px 10px; background:#edeff4 }
.definition { margin-top:25px; padding-top:10px;padding-bottom:10px; background:#8DFF87 }
.container { width:100%; margin-left:auto; margin-right:auto;}
/* .container2 { margin-left:auto; margin-right:auto;width:1120px;} */
.content { width:100%; margin-left:auto; margin-right:auto; padding:35px 25px 5px 25px; background:white; text-align:left;} /*background: #f9fff9*/
/* .content2 { width:705px; margin-left:auto; margin-right:auto; padding:35px 20px 5px 20px; background:white; text-align:left; } */


/* .figure { font-family:Verdana; margin-top:15px; color:#7b7070 } */
figcaption { color:#7b7070 }
figure { margin:0; /*background: green;*/ display:inline-block}
/* .figure_right { font-family:Verdana; margin-left:375px; margin-top:-25px; color:#7b7070 } */

.table { margin-top:15px; margin-bottom:20px; color:#7b7070 }

.footer { /*margin-top:35px;*/ }
.signature { margin-top:35px; font-size:0.8em; color:#636363; display:inline; }
.copyright { margin-left:15px }

.botNav { padding-top:10px }
.botNavItem {padding:0 7px; font-size:1em; color:#610061; height:18px;}

.bookmarks { position:absolute; right:17%;  display:inline} 

.code 
{     
line-height:1.4; margin-top:0; border:1px solid #bdbdbd; 
padding-bottom:10px; padding-left:10px; background:#f1f1f1;
color:black; padding-top:10px;
}

.codehead { font-family:"courier pitch 10";background:#bdbdbd; padding-left:15px; margin-bottom:0 }

.center {text-align:center}

/* hr.btm { width:550px; margin-top:35px; margin-bottom:35px } */

.gray {
background-color:#efefef;
}

table {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-collapse: collapse;
   /* float:left;*/
/*     margin:15px; */
}


td, th {

    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

th {
    padding: 8px;
    font-family: Georgia;
    font-weight: bolder;
    font-size: 12px;
    letter-spacing: 1px;
    background: url(../img/cmn/stripe.jpg);
}

td {
    font-family: monospace;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
}

.keyword {
color: #074685
}



.ltow { float:left }
.big_hor { position:relative; left:-11px }
.hor { text-align:center }
.large_rec {}
.med_rec {}

.social {}
.fb-like { top:-8px; padding-right:1em }
.twitter { display:inline-block }


@media (min-width: 705px) {
         
   .content {
        width:705px;
   }    
}


@media (max-width: 1119px) {
         
   #wide_ad {
        display: none;
   }    
}

@media (min-width: 1120px) {
    
   .container {
       width:1120px; 
   }
      
   #wide_ad {
        display: block;
   }   
}




